In [73]:
using DataFrames
using CSV
df = CSV.read("testfile.csv", DataFrame, dateformat="dd-mm-yyyy")
my_dict = Dict(Pair.(df.date_peroid, df.hours))
my_dict

Dict{String15, Float64} with 241 entries:
  "08/26/2021" => 4.0
  "12/17/2020" => 1.0
  "2/24/2021"  => 0.5
  "06/09/2021" => 0.25
  "07/20/2021" => 1.5
  "12/20/2020" => 0.25
  "5/13/2021"  => 1.0
  "08/31/2021" => 2.0
  "02/07/2021" => 1.5
  "06/19/2021" => 1.0
  "3/12/2021"  => 2.0
  "07/09/2021" => 4.0
  "01/04/2021" => 1.75
  "10/09/2021" => 2.0
  "5/16/2021"  => 1.0
  "06/17/2021" => 1.25
  "08/06/2021" => 2.0
  "2/25/2021"  => 1.5
  "12/4/2021"  => 60.0
  "3/28/2021"  => 0.6
  "10/16/2021" => 1.0
  "01/25/2021" => 0.25
  "07/08/2021" => 4.0
  "3/31/2021"  => 0.75
  "07/26/2021" => 1.0
  ⋮            => ⋮

In [108]:
start_date = Date(2020,9,1)
end_date = Date(2022, 5, 29)
span = end_date - start_date

635 days

In [109]:
println(round(pi; digits = 3))

3.142

In [60]:
 println(round(2.3))

2.0

In [110]:
tot_hours = sum(df.hours)
tot_hours = (round(tot_hours))
tot_hours

796.0

In [111]:
println("In the last $span you have wrote code for $tot_hours hours!")

In the last 635 days you have wrote code for 796.0 hours!

In [106]:
start_year = Dates.Date(1985, 1, 1)
end_year = Dates.Date(1989, 12, 31)

dad_span = end_year - start_year
#4000 /
(4000 - 795) / Dates.value(dad_span)

1.7561643835616438

In [ ]:
tot_hours = sum(df.hours)

In [80]:
dad_string = "The first significant payout before any job offers was about three years 
 after I started and after writing code for three or four thousand hours
 with no financial return. Not a very safe career path but it worked out"
 
 #Larry Jones 
 #2015

"The first significant payout before any job offers was about three years \n after I started and after writing code for three or four thousand hours\n with no financial return. Not a very safe career path but it worked out"